<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/style-rm.css">
  <link rel="stylesheet" href="./css/backdoor.css">
  <link rel="icon" type="image/png" href="./assets/images/mona.png" />
  <title>About</title>
</head>

<body>
  <header class="hd">
    <div class="container">
      <div class="hd-wr">
        <div class="hd-burger" id="hamburger">
          <div class="burger">
            <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <a href="" class="custom-logo-link">
          <img src="./assets/img/logo.png" alt="">
        </a>
        <div class="lg">
          <div class="lg-head">
            <img src="./assets/img/lg-1.svg" alt="">
            <span class="text">
              VN
            </span>
          </div>
          <div class="lg-list">
            <div class="lg-item">
              <a href="" class="lg-link">
                <img src="./assets/img/lg-1.svg" alt="">
                <span class="text">
                  VN
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-overlay"></div>
    <div class="mobile">
      <div class="mobile-con">
        <div class="mobile-wr">
          <div class="mobile-nav">
            <div class="menu-nav">
              <ul class="menu-list">
                <li class="menu-item current-menu-item">
                  <a href="" class="menu-link">
                    Trang chủ
                  </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    Giới thiệu
                  </a>
                </li>
                <li class="menu-item dropdown">
                  <a href="" class="menu-link">
                    Sản phẩm
                  </a>
                  <ul class="menu-list">
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        DemoSp
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        DemoSp
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    Quy trình
                  </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    Tin tức
                  </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link">
                    Liên hệ
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mobile-td">
          <img src="./assets/img/mb-td.png" alt="">
        </div>
      </div>
    </div>
  </header>
  <main class="main have-pd">
    <section class="sec-banner-about">
      <div class="banner-about">
        <div class="banner-about-img">
          <img src="./assets/img/hbn-img-1.jpg" alt="">
        </div>
        <div class="container">
          <div class="banner-about-content  hbn-content">
            <h1 class="hbn-title txt-animated" data-spl="">
              Về chúng tôi
            </h1>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-hab">
      <div class="hab ss-pd">
        <div class="container">
          <div class="hab-side row">
            <div class="hab-left col col-5">
              <div class="re-head">
                <p class="t-title-sub line scroll-item">
                  Thiet Dan furniture
                </p>
                <h2 class="t-title decor txt-animated ani-opa" data-spl style="--delay: 0.1s">
                  Lịch sử hình thành
                </h2>
              </div>
              <div class="hab-year">
                <p class="hab-year-title">
                  Thành lập <br> vào năm
                </p>
                <p class="hab-year-number">
                  2004
                </p>
              </div>
              <div class="hab-des">
                Lorem ipsum dolor sit amet consectetur. Semper neque aliquam neque amet. Diam urna nec
                turpis commodo tortor lectus
                nullam fringilla risus. Amet ut ut in risus egestas tincidunt. Sagittis duis non quam.
              </div>
              <div class="hab-content">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet consectetur. Et porta et pretium dictum tincidunt
                    tortor.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur. Turpis congue.
                  </li>
                </ul>
              </div>
            </div>
            <div class="hab-right col col-7">
              <div class="hab-right-inner">
                <div class="hab-slider">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="hab-img">
                          <img src="./assets/img/hab-img-1.jpg" alt="">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="hab-img">
                          <img src="./assets/img/hab-img-2.jpg" alt="">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="hab-img">
                          <img src="./assets/img/hab-img-3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hab-as">
            <div class="hab-as-list row">
              <div class="hab-as-item col col-3">
                <p class="hab-as-number">
                  <span class="number countNum">
                    19
                  </span>
                </p>
                <p class="des">
                  Năm
                  kinh nghiệm
                </p>
              </div>
              <div class="hab-as-item col col-3">
                <p class="hab-as-number">
                  <span class="number countNum">
                    80
                  </span>+
                </p>
                <p class="des">
                  Nhân sự
                </p>
              </div>
              <div class="hab-as-item col col-3">
                <p class="hab-as-number">
                  <span class="number countNum">
                    300
                  </span>+
                </p>
                <p class="des">
                  Đối tác
                </p>
              </div>
              <div class="hab-as-item col col-3">
                <p class="hab-as-number">
                  <span class="number countNum">
                    2000
                  </span>+
                </p>
                <p class="des">
                  Khách hàng
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-vms">
      <div class="vms ss-pd">
        <div class="container">
          <div class="head t-center">
            <p class="t-title-sub line line-double scroll-item">
              Thiet Dan furniture
            </p>
            <h2 class="t-title decor txt-animated ani-opa" data-spl style="--delay: 0.1s">
              Tầm nhìn, sứ mệnh
            </h2>
          </div>
          <div class="vms-slider">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="philo-row row">
                    <div class="philo-col col">
                      <div class="philo-img">
                        <img src="./assets/img/philo-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="philo-col col">
                      <div class="philo-content">
                        <div class="philo-head">
                          <p class="number">
                            01
                          </p>
                          <p class="title">
                            Tầm nhìn
                          </p>
                        </div>
                        <p class="des">
                          Lorem ipsum dolor sit amet consectetur. Semper neque aliquam neque
                          amet. Diam urna nec turpis commodo tortor lectus nullam fringilla
                          risus. Amet ut ut in risus egestas tincidunt. Sagittis duis non
                          quam.
                        </p>
                        <div class="philo-content-inner">
                          <ul>
                            <li>
                              Lorem ipsum dolor sit amet consectetur. Et porta et pretium
                              dictum tincidunt tortor.
                            </li>
                            <li>
                              Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>
                              Lorem ipsum dolor sit amet consectetur.
                            </li>
                          </ul>
                        </div>
                        <a href="" class="sbtn">
                          <span class="sbtn-inner">
                            <span class="text">
                              Xem chi tiết
                            </span>
                          </span>
                          <i class="far fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="philo-row row">
                    <div class="philo-col col">
                      <div class="philo-img">
                        <img src="./assets/img/philo-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="philo-col col">
                      <div class="philo-content">
                        <div class="philo-head">
                          <p class="number">
                            02
                          </p>
                          <p class="title">
                            Sứ mệnh
                          </p>
                        </div>
                        <p class="des">
                          Lorem ipsum dolor sit amet consectetur. Semper neque aliquam neque
                          amet. Diam urna nec turpis commodo tortor lectus nullam fringilla
                          risus. Amet ut ut in risus egestas tincidunt. Sagittis duis non
                          quam.
                        </p>
                        <div class="philo-content-inner">
                          <ul>
                            <li>
                              Lorem ipsum dolor sit amet consectetur. Et porta et pretium
                              dictum tincidunt tortor.
                            </li>
                            <li>
                              Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>
                              Lorem ipsum dolor sit amet consectetur.
                            </li>
                          </ul>
                        </div>
                        <a href="" class="sbtn">
                          <span class="sbtn-inner">
                            <span class="text">
                              Xem chi tiết
                            </span>
                          </span>
                          <i class="far fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-media">
      <div class="media ss-pd">
        <div class="head t-center">
          <p class="t-title-sub line line-double scroll-item">
            Thiet Dan furniture
          </p>
          <h2 class="t-title decor txt-animated ani-opa" data-spl style="--delay: 0.1s">
            Tham quan nhà máy
          </h2>
        </div>
        <div class="media-slider-one">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-1.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-2.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-13.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-4.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-5.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-6.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-7.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-8.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media-slider-two">
          <div class="swiper" dir="rtl">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-1.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-2.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-13.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-4.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-5.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-6.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-7.jpg" alt="">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="media-img">
                  <img src="./assets/img/media-img-8.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-bg">
      <img src="./assets/images/footer-bg.png" alt="" />
    </div>
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-top row">
          <div class="footer-left col">
            <div class="footer-logo">
              <img src="./assets/images/footer-logo.png" alt="" />
            </div>
            <div class="footer-sologan">
              <p class="footer-text">“Hãy để chúng tôi đồng hành cùng bạn”</p>
            </div>
            <div class="footer-social">
              <ul class="social-list">
                <li class="social-item">
                  <a href="" class="social-item-link">
                    <img src="./assets/images/fb-svg.svg" alt="" />
                  </a>
                </li>
                <li class="social-item">
                  <a href="" class="social-item-link">
                    <img src="./assets/images/instagram-2.svg" alt="" />
                  </a>
                </li>
                <li class="social-item">
                  <a href="" class="social-item-link">
                    <img src="./assets/images/link-svg.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-right col">
            <div class="footer-email">
              <div class="title">
                <span class="title-text">Đăng ký nhận tin</span>
              </div>
              <form class="footer-input">
                <div class="footer-input-icon">
                  <img src="./assets/images/email-svg.png" alt="" />
                </div>
                <input type="text" placeholder="Nhập E-mail của bạn" />
              </form>
            </div>
            <div class="footer-link row">
              <div class="footer-item col">
                <div class="title">
                  <span class="title-text">Sản phẩm của chúng tôi</span>
                </div>
                <div class="footer-list">
                  <ul class="footer-nav-list">
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Bàn</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="footer-item col">
                <div class="title">
                  <span class="title-text">Liên kết nhanh</span>
                </div>
                <div class="footer-list">
                  <ul class="footer-nav-list">
                    <li class="footer-nav-link">
                      <a href="">Trang chủ</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Trang chủ</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Trang chủ</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Trang chủ</a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="">Trang chủ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <img src="./assets/images/mona-logo.png" alt="" />
    </div>
  </footer>
  <div class="back-to-top backToTop">
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
  </div>

  <script src="./js/library/jquery/jquery.js"></script>
  <script src="./js/library/swiper/swiper-bundle.min.js"></script>
  <script src="./js/library/aos/aos.js"></script>
  <script src="./js/library/select2/select2.min.js"></script>
  <script src="./js/library/gallery/lightgallery-all.min.js"></script>
  <script src="./js/library/jquery/jquery-migrate.js"></script>
  <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
  <script src="./js/library/datetime/moment.min.js"></script>
  <script src="./js/library/datetime/daterangepicker.min.js"></script>
  <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
  <script src="./js/library/splitting/splitting.min.js"></script>
  <script src="./js/library/fancybox/fancybox.umd.js"></script>
  <script src="./js/library/gsap/gsap.min.js"></script>
  <script src="./js/library/gsap/ScrollTrigger.min.js"></script>
  <script src="./js/main.js" type="module"></script>
</body>

</html>