<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết sản phẩm</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <!-- Cấu trúc html menu -->
      <div class="container">
        <div class="header-wrapper">
          <div class="header-menu">
            <input type="checkbox" id="menu-input" />
            <div class="menu-icon">
              <label for="menu-input" class="menu-btn"></label>
            </div>
            <!-- menu mobile -->
            <div class="menu-mobile">
              <div class="overlay-mobile"></div>
              <ul class="footer-nav-list">
                <li class="footer-nav-link">
                  <a href=""> Trang chủ </a>
                </li>
                <li class="footer-nav-link dropdown">
                  <a href="" class="menu-link"> Sản phẩm </a>
                  <ul class="footer-nav-list">
                    <li class="footer-nav-link">
                      <a href="" class="menu-link"> Sản phẩm 1 </a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="" class="menu-link">Sản phẩm 2 </a>
                    </li>
                  </ul>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Quy trình </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Tin tức </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Liên hệ </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-logo">
            <a href="" alt="logo" class="logo-link">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="lang">
            <div class="lang-head lang-item">
              <img src="./assets/images/flag-vn.png" alt="" />
              <span class="text"> VN </span>
            </div>
            <div class="lang-list">
              <a href="" class="lang-item active">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> EN </span>
              </a>
              <a href="" class="lang-item">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> VN </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="breadcrumb breadcrumb-custom">
          <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <span class="breadcrumb-diamond">
                <img src="./assets/images/daimond.png" alt="" />
              </span>
              <a href="" class="breadcrumb-link">Sản phẩm</a>
            </li>
            <li class="breadcrumb-item">
              <span class="breadcrumb-diamond">
                <img src="./assets/images/daimond.png" alt="" />
              </span>
              <a href="" class="breadcrumb-link">Bộ bàn BN97-69B Ghế MRL96</a>
            </li>
          </ul>
        </div>
        <section class="detail-product">
          <div class="row">
            <div class="detail-left col">
              <!--  -->
              <div class="detail-swiper-main gallery">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div
                        class="detail-swiper-img gItem"
                        data-src="./assets/images/detail-prod-4.png"
                      >
                        <img src="./assets/images/detail-prod-4.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="detail-swiper-img gItem"
                        data-src="./assets/images/detail-prod-4.png"
                      >
                        <img src="./assets/images/detail-prod-1.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="detail-swiper-img gItem"
                        data-src="./assets/images/detail-prod-4.png"
                      >
                        <img src="./assets/images/detail-prod-2.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div
                        class="detail-swiper-img gItem"
                        data-src="./assets/images/detail-prod-4.png"
                      >
                        <img src="./assets/images/detail-prod-3.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="detail-slider-thumb">
                <div class="swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="detail-swiper-img">
                        <img src="./assets/images/detail-prod-4.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="detail-swiper-img">
                        <img src="./assets/images/detail-prod-1.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="detail-swiper-img">
                        <img src="./assets/images/detail-prod-2.png" alt="" />
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="detail-swiper-img">
                        <img src="./assets/images/detail-prod-3.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-control posi plus">
                  <div class="swiper-control-btn swiper-prev">
                    <i class="ti-arrow-left"></i>
                  </div>
                  <div class="swiper-control-btn swiper-next">
                    <i class="ti-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-right col">
              <h1 class="right-title">Bộ bàn BN97-69B Ghế MRL96</h1>
              <div class="right-option">
                <span class="right-op">Mô tả sản phẩm</span>
                <p class="right-text">
                  Lorem ipsum dolor sit amet consectetur. Et eu eget viverra blandit laoreet
                  gravida. Viverra placerat urna magna aliquet mattis quam tortor bibendum. Libero
                  non aliquam tellus in.
                </p>
              </div>
              <div class="right-option">
                <span class="right-op">Vật liệu</span>
                <p class="right-text">Gỗ Hevea Brasiliensis</p>
              </div>
              <div class="right-option">
                <span class="right-op">Màu sắc</span>
                <p class="right-text">Nâu vân gỗ</p>
              </div>
              <div class="price">
                <span class="price-img">
                  <img src="./assets/images/dollar.png" alt="" />
                </span>
                <span class="price-text">10.200.000 VND</span>
              </div>
              <div class="right-btn">
                <div class="btn-second">
                  <div class="btn-wrapper">
                    <span class="btn-text">Liên hệ ngay</span>
                  </div>
                  <div class="btn-icon">
                    <i class="ti-arrow-top-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="detail-bg-mini">
            <img src="./assets/images/detal-bg-1.png" alt="" />
          </div>
        </section>
        <section class="detail-list">
          <div class="title-text">
            <div class="title-text-head">
              <h3 class="title-mini-text">Thiet Dan furniture</h3>
            </div>
            <h4 class="title-big-text">Sản phẩm của chúng tôi</h4>
            <div class="title-bg-prod">
              <div class="title-bg-prod-img">
                <img src="./assets/images/bg-title-product.png" alt="" />
              </div>
            </div>
          </div>
          <div class="list-content">
            <div class="list-content-slide">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card-item">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/detail-prod-1.png" alt="" />
                        </a>
                      </div>
                      <div class="card-body">
                        <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
                        <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
                        <div class="price">
                          <span class="price-img">
                            <img src="./assets/images/dollar.png" alt="" />
                          </span>
                          <span class="price-text">10.200.000 VND</span>
                        </div>
                        <div class="btn-second full-w">
                          <div class="btn-wrapper bg-custom">
                            <a class="btn-text">Xem chi tiết</a>
                          </div>
                          <div class="btn-icon">
                            <i class="ti-arrow-top-right"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card-item">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/detail-prod-1.png" alt="" />
                        </a>
                      </div>
                      <div class="card-body">
                        <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
                        <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
                        <div class="price">
                          <span class="price-img">
                            <img src="./assets/images/dollar.png" alt="" />
                          </span>
                          <span class="price-text">10.200.000 VND</span>
                        </div>
                        <div class="btn-second full-w">
                          <div class="btn-wrapper bg-custom">
                            <a class="btn-text">Xem chi tiết</a>
                          </div>
                          <div class="btn-icon">
                            <i class="ti-arrow-top-right"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card-item">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/detail-prod-1.png" alt="" />
                        </a>
                      </div>
                      <div class="card-body">
                        <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
                        <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
                        <div class="price">
                          <span class="price-img">
                            <img src="./assets/images/dollar.png" alt="" />
                          </span>
                          <span class="price-text">10.200.000 VND</span>
                        </div>
                        <div class="btn-second full-w">
                          <div class="btn-wrapper bg-custom">
                            <a class="btn-text">Xem chi tiết</a>
                          </div>
                          <div class="btn-icon">
                            <i class="ti-arrow-top-right"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card-item">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/detail-prod-1.png" alt="" />
                        </a>
                      </div>
                      <div class="card-body">
                        <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
                        <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
                        <div class="price">
                          <span class="price-img">
                            <img src="./assets/images/dollar.png" alt="" />
                          </span>
                          <span class="price-text">10.200.000 VND</span>
                        </div>
                        <div class="btn-second full-w">
                          <div class="btn-wrapper bg-custom">
                            <a class="btn-text">Xem chi tiết</a>
                          </div>
                          <div class="btn-icon">
                            <i class="ti-arrow-top-right"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card-item">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/detail-prod-1.png" alt="" />
                        </a>
                      </div>
                      <div class="card-body">
                        <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
                        <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
                        <div class="price">
                          <span class="price-img">
                            <img src="./assets/images/dollar.png" alt="" />
                          </span>
                          <span class="price-text">10.200.000 VND</span>
                        </div>
                        <div class="btn-second full-w">
                          <div class="btn-wrapper bg-custom">
                            <a class="btn-text">Xem chi tiết</a>
                          </div>
                          <div class="btn-icon">
                            <i class="ti-arrow-top-right"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-control-btn">
                <div class="swiper-control-btn swiper-next">
                  <i class="ti-angle-left"></i>
                </div>
                <div class="swiper-control-btn swiper-prev">
                  <i class="ti-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-bg">
        <img src="./assets/images/footer-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-top row">
            <div class="footer-left col">
              <div class="footer-logo">
                <img src="./assets/images/footer-logo.png" alt="" />
              </div>
              <div class="footer-sologan">
                <p class="footer-text">“Hãy để chúng tôi đồng hành cùng bạn”</p>
              </div>
              <div class="footer-social">
                <ul class="social-list">
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/fb-svg.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/instagram-2.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/link-svg.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-right col">
              <div class="footer-email">
                <div class="title">
                  <span class="title-text">Đăng ký nhận tin</span>
                </div>
                <form class="footer-input">
                  <div class="footer-input-icon">
                    <img src="./assets/images/email-svg.png" alt="" />
                  </div>
                  <input type="text" placeholder="Nhập E-mail của bạn" />
                </form>
              </div>
              <div class="footer-link row">
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Sản phẩm của chúng tôi</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Liên kết nhanh</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <img src="./assets/images/mona-logo.png" alt="" />
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
