<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chi tiết bài viết</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <!-- Cấu trúc html menu -->
      <div class="container">
        <div class="header-wrapper">
          <div class="header-menu">
            <input type="checkbox" id="menu-input" />
            <div class="menu-icon">
              <label for="menu-input" class="menu-btn"></label>
            </div>
            <!-- menu mobile -->
            <div class="menu-mobile">
              <div class="overlay-mobile"></div>
              <ul class="footer-nav-list">
                <li class="footer-nav-link">
                  <a href=""> Trang chủ </a>
                </li>
                <li class="footer-nav-link dropdown">
                  <a href="" class="menu-link"> Sản phẩm </a>
                  <ul class="footer-nav-list">
                    <li class="footer-nav-link">
                      <a href="" class="menu-link"> Sản phẩm 1 </a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="" class="menu-link">Sản phẩm 2 </a>
                    </li>
                  </ul>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Quy trình </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Tin tức </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Liên hệ </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-logo">
            <a href="" alt="logo" class="logo-link">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="lang">
            <div class="lang-head lang-item">
              <img src="./assets/images/flag-vn.png" alt="" />
              <span class="text"> VN </span>
            </div>
            <div class="lang-list">
              <a href="" class="lang-item active">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> EN </span>
              </a>
              <a href="" class="lang-item">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> VN </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <!--  -->
        <div class="detail-news-breadcrumb">
          <div class="breadcrumb">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item">
                <a href="" class="breadcrumb-link">Trang chủ</a>
              </li>
              <li class="breadcrumb-item">
                <span class="breadcrumb-diamond">
                  <img src="./assets/images/daimond.png" alt="" />
                </span>
                <a href="" class="breadcrumb-link">Tin tức</a>
              </li>
              <li class="breadcrumb-item">
                <span class="breadcrumb-diamond">
                  <img src="./assets/images/daimond.png" alt="" />
                </span>
                <a href="" class="breadcrumb-link"
                  >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!--  -->
        <div class="detail-news">
          <h1 class="detail-news-title">
            Nguyên tắc thiết kế giúp ngôi nhà <br />
            không bị lỗi thời
          </h1>
          <div class="detail-news-img">
            <img src="./assets/images/detail-news.png" alt="" />
          </div>
          <div class="detail-news-content">
            <div class="detail-news-info">
              <span class="detail-news-name"> Thiết Đan Furniture </span>
              <span class="detail-news-date"> 20 tháng 7, 2023 </span>
            </div>

            <div class="detail-quote">
              <div class="quote-icon">
                <img src="./assets/images/Quote-svg.svg" alt="" />
              </div>
              <div class="quote-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus ultrices velit
                eleifend consectetur justo, semper dictum. Ut morbi amet, quis aliquet elementum
                mattis ut. Ut pellentesque
              </div>
              <div class="quote-bg">
                <img src="./assets/images/quote-bg-svg.svg" alt="" />
              </div>
            </div>
            <div class="detail-news-ph">
              <p class="detail-news-ph-item">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus ultrices velit
                eleifend consectetur justo, semper dictum. Ut morbi amet, quis aliquet elementum
                mattis ut. Ut pellentesque massa sed ullamcorper quis maecenas ut sapien. Sed varius
                laoreet mi, at. Eu egestas pharetra nulla tincidunt euismod. Pretium tristique nulla
                tortor nunc felis. Purus pharetra ligula eget elementum ipsum, commodo. Tellus
                viverra egestas fames mi, massa diam, eu sed sapien. Adipiscing mattis viverra
                posuere suscipit dui felis, elit lorem ipsum.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lacus ultrices velit eleifend consectetur justo, semper dictum. Ut
                morbi amet, quis aliquet elementum mattis ut. Ut pellentesque massa sed ullamcorper
                quis maecenas ut sapien. Sed varius laoreet mi, at. Eu egestas pharetra nulla
                tincidunt euismod. Pretium tristique nulla tortor nunc felis. Purus pharetra ligula
                eget elementum ipsum, commodo. Tellus viverra egestas fames mi, massa diam, eu sed
                sapien. Adipiscing mattis viverra posuere suscipit dui felis, elit lorem ipsum.
              </p>
            </div>
            <div class="detail-news-rules">
              <div class="rules-list-img row">
                <div class="col rules-list-item">
                  <div class="list-item-img">
                    <img src="./assets/images/detail-news-1.png" alt="" />
                  </div>
                </div>
                <div class="col rules-list-item">
                  <div class="list-item-img">
                    <img src="./assets/images/detail-news-1.png" alt="" />
                  </div>
                </div>
                <div class="col rules-list-item">
                  <div class="list-item-img">
                    <img src="./assets/images/detail-news-1.png" alt="" />
                  </div>
                </div>
              </div>
              <ul class="rules-list row">
                <li class="rules-item col">
                  <span class="rules-icon">
                    <img src="./assets/images/tick-svg.svg" alt="" />
                  </span>
                  <span class="rules-text"> Chìa Khóa Trao Tay là bước đi thông minh </span>
                </li>
                <li class="rules-item col">
                  <span class="rules-icon">
                    <img src="./assets/images/tick-svg.svg" alt="" />
                  </span>
                  <span class="rules-text"> Chìa Khóa Trao Tay là bước đi thông minh </span>
                </li>
                <li class="rules-item col">
                  <span class="rules-icon">
                    <img src="./assets/images/tick-svg.svg" alt="" />
                  </span>
                  <span class="rules-text"> Chìa Khóa Trao Tay là bước đi thông minh </span>
                </li>
                <li class="rules-item col">
                  <span class="rules-icon">
                    <img src="./assets/images/tick-svg.svg" alt="" />
                  </span>
                  <span class="rules-text"> Chìa Khóa Trao Tay là bước đi thông minh </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="detail-news-social">
            <span class="social-text">Chia sẻ bài viết</span>
            <ul class="social-list">
              <li class="social-item">
                <a href="" class="social-item-link">
                  <img src="./assets/images/facebook-app-detail-svg.svg" alt="" />
                </a>
              </li>
              <li class="social-item">
                <a href="" class="social-item-link">
                  <img src="./assets/images/twitter-detail-news-svg.svg" alt="" />
                </a>
              </li>
              <li class="social-item">
                <a href="" class="social-item-link">
                  <img src="./assets/images/linkedin-detail-svg.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="detail-news-slide">
          <div class="title-text">
            <div class="title-text-head">
              <h3 class="title-mini-text">Thiet Dan furniture</h3>
            </div>
            <h4 class="title-big-text">Tin tức liên quan</h4>
            <div class="title-bg-prod">
              <div class="title-bg-prod-img">
                <img src="./assets/images/bg-title-product.png" alt="" />
              </div>
            </div>
          </div>
          <div class="detail-news-slide-main">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="detail-news-slide-card">
                    <a class="relate-head">
                      <img src="./assets/images/detail-prod-1.png" alt="" />
                    </a>
                    <div class="relate-body">
                      <a class="relate-title">
                        Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời
                      </a>
                      <div class="relate-text">
                        Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                        sapien.
                      </div>
                      <div class="relate-nav">
                        <a href="" class="relate-nav-text">Xem chi tiết</a>
                        <a href="" class="relate-nav-icon">
                          <i class="ti-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="detail-news-slide-card">
                    <a class="relate-head">
                      <img src="./assets/images/detail-prod-1.png" alt="" />
                    </a>
                    <div class="relate-body">
                      <a class="relate-title">
                        Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời
                      </a>
                      <div class="relate-text">
                        Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                        sapien.
                      </div>
                      <div class="relate-nav">
                        <a href="" class="relate-nav-text">Xem chi tiết</a>
                        <a href="" class="relate-nav-icon">
                          <i class="ti-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="detail-news-slide-card">
                    <a class="relate-head">
                      <img src="./assets/images/detail-prod-1.png" alt="" />
                    </a>
                    <div class="relate-body">
                      <a class="relate-title">
                        Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời
                      </a>
                      <div class="relate-text">
                        Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                        sapien.
                      </div>
                      <div class="relate-nav">
                        <a href="" class="relate-nav-text">Xem chi tiết</a>
                        <a href="" class="relate-nav-icon">
                          <i class="ti-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="detail-news-slide-card">
                    <a class="relate-head">
                      <img src="./assets/images/detail-prod-1.png" alt="" />
                    </a>
                    <div class="relate-body">
                      <a class="relate-title">
                        Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời
                      </a>
                      <div class="relate-text">
                        Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                        sapien.
                      </div>
                      <div class="relate-nav">
                        <a href="" class="relate-nav-text">Xem chi tiết</a>
                        <a href="" class="relate-nav-icon">
                          <i class="ti-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-news-control">
              <div class="swiper-control-btn s-l swiper-prev">
                <i class="ti-arrow-left"></i>
              </div>
              <div class="swiper-control-btn s-r swiper-next">
                <i class="ti-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-bg">
        <img src="./assets/images/footer-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-top row">
            <div class="footer-left col">
              <div class="footer-logo">
                <img src="./assets/images/footer-logo.png" alt="" />
              </div>
              <div class="footer-sologan">
                <p class="footer-text">“Hãy để chúng tôi đồng hành cùng bạn”</p>
              </div>
              <div class="footer-social">
                <ul class="social-list">
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/fb-svg.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/instagram-2.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/link-svg.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-right col">
              <div class="footer-email">
                <div class="title">
                  <span class="title-text">Đăng ký nhận tin</span>
                </div>
                <form class="footer-input">
                  <div class="footer-input-icon">
                    <img src="./assets/images/email-svg.png" alt="" />
                  </div>
                  <input type="text" placeholder="Nhập E-mail của bạn" />
                </form>
              </div>
              <div class="footer-link row">
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Sản phẩm của chúng tôi</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Liên kết nhanh</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <img src="./assets/images/mona-logo.png" alt="" />
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
