<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>News</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <!-- Cấu trúc html menu -->
      <div class="container">
        <div class="header-wrapper">
          <div class="header-menu">
            <input type="checkbox" id="menu-input" />
            <div class="menu-icon">
              <label for="menu-input" class="menu-btn"></label>
            </div>
            <!-- menu mobile -->
            <div class="menu-mobile">
              <div class="overlay-mobile"></div>
              <ul class="footer-nav-list">
                <li class="footer-nav-link">
                  <a href=""> Trang chủ </a>
                </li>
                <li class="footer-nav-link dropdown">
                  <a href="" class="menu-link"> Sản phẩm </a>
                  <ul class="footer-nav-list">
                    <li class="footer-nav-link">
                      <a href="" class="menu-link"> Sản phẩm 1 </a>
                    </li>
                    <li class="footer-nav-link">
                      <a href="" class="menu-link">Sản phẩm 2 </a>
                    </li>
                  </ul>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Quy trình </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Tin tức </a>
                </li>
                <li class="footer-nav-link">
                  <a href="" class="menu-link"> Liên hệ </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-logo">
            <a href="" alt="logo" class="logo-link">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="lang">
            <div class="lang-head lang-item">
              <img src="./assets/images/flag-vn.png" alt="" />
              <span class="text"> VN </span>
            </div>
            <div class="lang-list">
              <a href="" class="lang-item active">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> EN </span>
              </a>
              <a href="" class="lang-item">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> VN </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main pt-none">
      <!--  -->
      <div class="re">
        <section class="custom-banner">
          <div class="custom-banner-main">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="banner-wrapper">
                    <div class="banner-img">
                      <img src="./assets/images/prod-bner-3.png" alt="" />
                    </div>
                    <div class="container">
                      <div class="mini-content">
                        <h1 class="mini-title">Tin tức mới nhất</h1>
                        <div class="mini-content-img">
                          <img src="./assets/images/diamond-svg-bg.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="banner-wrapper">
                    <div class="banner-img">
                      <img src="./assets/images/prod-bner-3.png" alt="" />
                    </div>
                    <div class="container">
                      <div class="mini-content">
                        <h1 class="mini-title">Tin tức mới nhất</h1>
                        <div class="mini-content-img">
                          <img src="./assets/images/diamond-svg-bg.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <div class="custom-line">
          <div class="line-item left"></div>
        </div>
        <div class="breadcrumb-cs">
          <div class="container">
            <div class="breadcrumb">
              <ul class="breadcrumb-list">
                <li class="breadcrumb-item">
                  <a href="" class="breadcrumb-link">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                  <span class="breadcrumb-diamond">
                    <img src="./assets/images/daimond.png" alt="" />
                  </span>
                  <a href="" class="breadcrumb-link">Tin tức</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="search-news">
          <div class="container">
            <form class="search-cs">
              <input type="text" placeholder="Tìm kiếm sản phẩm" />
              <span class="search-icon">
                <img src="./assets/images/search-svg.svg" alt="" />
              </span>
            </form>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="news-page">
        <div class="news-page-content">
          <div class="container">
            <div class="feature-news">
              <div class="title-text">
                <div class="title-text-head">
                  <h3 class="title-mini-text">Thiet Dan furniture</h3>
                </div>
                <h4 class="title-big-text">Tin tức nổi bật</h4>
                <div class="title-bg-prod">
                  <div class="title-bg-prod-img">
                    <img src="./assets/images/bg-title-product.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="feature-content">
                <div class="row">
                  <div class="left col">
                    <a href="" class="left-item">
                      <img src="./assets/images/news-img.png" alt="" />
                    </a>
                    <div class="news-text-left">
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="right col">
                    <div class="right-content">
                      <div href="" class="right-item">
                        <a href="" class="right-item-link">
                          <img src="./assets/images/news-img.png" alt="" />
                        </a>
                        <div class="news-text-right">
                          <div class="body-card-text">
                            <a href="" class="title"
                              >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                            >

                            <div class="btn-card-text">
                              <a href="" class="btn-card-link">Xem chi tiết</a>
                              <a href="" class="btn-icon">
                                <i class="ti-arrow-right"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div href="" class="right-item">
                        <a href="" class="right-item-link">
                          <img src="./assets/images/news-img.png" alt="" />
                        </a>
                        <div class="news-text-right">
                          <div class="body-card-text">
                            <a href="" class="title"
                              >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                            >
                            <div class="btn-card-text">
                              <a href="" class="btn-card-link">Xem chi tiết</a>
                              <a href="" class="btn-icon">
                                <i class="ti-arrow-right"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular-news">
              <div class="title-text">
                <div class="title-text-head">
                  <h3 class="title-mini-text">Thiet Dan furniture</h3>
                </div>
                <h4 class="title-big-text">Tin tức phổ biến</h4>
                <div class="title-bg-prod">
                  <div class="title-bg-prod-img">
                    <img src="./assets/images/bg-title-product.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="popular-content">
                <div class="row">
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="popular-item col">
                    <div class="popular-card">
                      <div class="card-head">
                        <a href="" class="card-img">
                          <img src="./assets/images/news-img.png" alt=""
                        /></a>
                      </div>
                      <div class="body-card-text">
                        <a href="" class="title"
                          >Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a
                        >
                        <p class="ph">
                          Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi
                          sapien.
                        </p>
                        <div class="btn-card-text">
                          <a href="" class="btn-card-link">Xem chi tiết</a>
                          <a href="" class="btn-icon">
                            <i class="ti-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination-news">
                  <div class="pagination-layout">
                    <ul class="pagination-list">
                      <li class="pagination-item">
                        <a href="" class="pagination-link">
                          <span>01</span>
                        </a>
                      </li>
                      <li class="pagination-item">
                        <a href="" class="pagination-link">
                          <span>03</span>
                        </a>
                      </li>
                      <li class="pagination-item">
                        <a href="" class="pagination-link">
                          <span>03</span>
                        </a>
                      </li>
                      <li class="pagination-item">
                        <a href="" class="pagination-link">
                          <span>
                            <i class="ti-angle-right"></i>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-bg">
        <img src="./assets/images/footer-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-top row">
            <div class="footer-left col">
              <div class="footer-logo">
                <img src="./assets/images/footer-logo.png" alt="" />
              </div>
              <div class="footer-sologan">
                <p class="footer-text">“Hãy để chúng tôi đồng hành cùng bạn”</p>
              </div>
              <div class="footer-social">
                <ul class="social-list">
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/fb-svg.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/instagram-2.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/link-svg.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-right col">
              <div class="footer-email">
                <div class="title">
                  <span class="title-text">Đăng ký nhận tin</span>
                </div>
                <form class="footer-input">
                  <div class="footer-input-icon">
                    <img src="./assets/images/email-svg.png" alt="" />
                  </div>
                  <input type="text" placeholder="Nhập E-mail của bạn" />
                </form>
              </div>
              <div class="footer-link row">
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Sản phẩm của chúng tôi</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Bàn</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Liên kết nhanh</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list">
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link">
                        <a href="">Trang chủ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <img src="./assets/images/mona-logo.png" alt="" />
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
