<!-- Start -->
<div class="star">
  <div class="star-list">
    <div class="star-flex star-empty">
      <img src="./assets/images/star-opa.svg" alt="" class="icon" />
      <img src="./assets/images/star-opa.svg" alt="" class="icon" />
      <img src="./assets/images/star-opa.svg" alt="" class="icon" />
      <img src="./assets/images/star-opa.svg" alt="" class="icon" />
      <img src="./assets/images/star-opa.svg" alt="" class="icon" />
    </div>
    <div class="star-flex star-filter" style="width: 80%">
      <img src="./assets/images/mona.png" alt="" class="icon" />
      <img src="./assets/images/mona.png" alt="" class="icon" />
      <img src="./assets/images/mona.png" alt="" class="icon" />
      <img src="./assets/images/mona.png" alt="" class="icon" />
      <img src="./assets/images/mona.png" alt="" class="icon" />
    </div>
  </div>
</div>
<!-- End start -->

<!-- Burger btn -->
<div class="burger">
  <div class="hamburger" id="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</div>
<!--End  Burger btn -->

<!-- Header search -->
<div class="header-search">
  <img src="" alt="" class="header-search-icon" />
</div>
<div class="search_mona">
  <form method="get" id="searchform" class="searchform" action="">
    <div class="search-wrap">
      <input type="search" class="search-input" placeholder="Tìm kiếm . . ." />
      <button type="submit" class="search-btn">
        <img src="" alt="" class="icon" />
      </button>
    </div>
  </form>
</div>
<!-- End header Search -->

<!-- Header nav -->
<div class="header-nav">
  <ul class="header-nav-list">
    <li class="header-nav-item current-menu-item">
      <a href="" class="header-nav-link"> Item </a>
    </li>
    <li class="header-nav-item dropdown">
      <a href="" class="header-nav-link"> Item </a>
    </li>
    <li class="header-nav-item">
      <a href="" class="header-nav-link"> Item </a>
    </li>
  </ul>
</div>
<!--End Header nav -->
<div class="mobile-overlay"></div>
<div class="mobile">
  <div class="mobile-con">
    <div class="mobile-wr">
      <div class="mobile-nav">
        <div class="menu-nav">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
            <li class="menu-item dropdown">
              <a href="" class="menu-link"> Demo </a>
              <ul class="menu-list">
                <li class="menu-item">
                  <a href="" class="menu-link"> DemoSp </a>
                </li>
                <li class="menu-item">
                  <a href="" class="menu-link"> DemoSp </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link"> Demo </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile-content">
        <div class="mobile-fl mb-8s">
          <p class="mobile-text mobile-link">
            Địa chỉ: 133/42 Đường số 8, Phường 11, Quận Gò Vấp, TP HCM
          </p>
          <br />
          <p class="mobile-text mobile-link">
            Kho hàng: 1107 Đường Trần Phú, Phường Lộc Tiến, TP Bảo Lộc, Lâm Đồng
          </p>
        </div>
        <div class="mobile-fl mb-8s">
          <span class="title"> Tổng Đài: </span>
          <a href="" class="mobile-text mobile-link"> 0867 920 925 </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-mxh">
    <a href="" class="mobile-mxh-link">
      <img src="./assets/images/social-icon-1.png" alt="" />
    </a>
    <a href="" class="mobile-mxh-link">
      <img src="./assets/images/social-icon-2.png" alt="" />
    </a>
    <a href="" class="mobile-mxh-link">
      <img src="./assets/images/social-icon-3.png" alt="" />
    </a>
    <a href="" class="mobile-mxh-link">
      <img src="./assets/images/social-icon-4.png" alt="" />
    </a>
  </div>
</div>
<!-- Side -->
<div class="side-fixed">
  <div class="side-fixed-wrap">
    <!-- Content here -->
  </div>
  <div class="side-close">
    <i class="fas fa-times close icon"></i>
  </div>
</div>
<div class="side-open">
  <div class="side-open-wrap">
    <i class="fas fa-angle-left icon"></i>
  </div>
</div>
<div class="side-overlay"></div>
<!-- End Side -->

<!-- Select custom -->
<div class="sl-cus">
  <div class="sl-head">
    <input type="text" class="select-input" hidden />
    <p class="sl-main"></p>
  </div>
  <ul class="sl-list">
    <li class="sl-item active" data-name="Option 1" data-slug="value 1"></li>
    <li class="sl-item" data-name="Option 1" data-slug="value 2"></li>
  </ul>
</div>
<!-- End Select custom -->

<!-- Header User -->
<div class="user">
  <div class="user-ava">
    <img src="" alt="" />
  </div>
  <p class="user-name">John Blue</p>
  <div class="user-menu">
    <a href="" class="link">my profile</a>
    <a href="" class="link">Customer support</a>
    <a href="" class="link">Shop Experiences</a>
    <a href="" class="link">Order history</a>
  </div>
</div>
<!-- End header User -->

<!-- Pagi -->
<ul class="page-numbers">
  <li>
    <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left icon"></i></a>
  </li>
  <li>
    <span class="page-numbers current">1</span>
  </li>
  <li>
    <a href="" class="page-numbers">2</a>
  </li>
  <li>
    <a href="" class="page-numbers">3</a>
  </li>
  <li>
    <a href="" class="page-numbers">4</a>
  </li>
  <li>
    <a href="" class="next page-numbers"><i class="fa fa-angle-right icon"></i></a>
  </li>
</ul>
<!-- End pagi -->

<!-- Recheck -->
<div class="recheck-block">
  <div class="recheck-item">
    <input type="checkbox" name="" id="" class="recheck-input" hidden />
    <div class="recheck-dot"></div>
    <p class="recheck-text">Check me ........</p>
  </div>
</div>
<!-- End Recheck -->

<!-- Mxh -->
<div class="mxh">
  <div class="mxh-list">
    <a href="" class="mxh-link">
      <img src="" alt="" class="icon" />
    </a>
    <a href="" class="mxh-link">
      <img src="" alt="" class="icon" />
    </a>
    <a href="" class="mxh-link">
      <img src="" alt="" class="icon" />
    </a>
  </div>
</div>
<!-- End mxh -->

<!-- Count -->
<div class="count">
  <div class="count-btn count-minus">
    <i class="fas fa-minus icon"></i>
  </div>
  <input type="text" value="1" max="12" min="0" class="count-input" hidden />
  <p class="count-number"></p>
  <div class="count-btn count-plus">
    <i class="fas fa-plus icon"></i>
  </div>
</div>
<!-- End cout -->

<!-- Cart mini -->
<div class="header-cart">
  <img src="./assets/images/header-cart-icon.svg" alt="" class="header-cart-icon" />
  <div class="cmini">
    <div class="cmini-wrap">
      <div class="cmini-list">
        <a href="" class="cmini-item">
          <div class="cmini-img">
            <img src="./assets/images/cmini-img.png" alt="" />
            <div class="cmini-delete">
              <i class="fas fa-times icon"></i>
            </div>
          </div>
          <div class="cmini-content">
            <h3 class="cart-name">Roger Roger Roger</h3>
            <p class="cart-price">180,000,000 đ</p>
            <div class="cmini-color" style="background-color: #d0cbcd"></div>
          </div>
        </a>
        <a href="" class="cmini-item">
          <div class="cmini-img">
            <img src="./assets/images/cmini-img.png" alt="" />
            <div class="cmini-delete">
              <i class="fas fa-times icon"></i>
            </div>
          </div>
          <div class="cmini-content">
            <h3 class="cart-name">Roger</h3>
            <p class="cart-price">180,000,000 đ</p>
            <div class="cmini-color" style="background-color: #d0cbcd"></div>
          </div>
        </a>
        <a href="" class="cmini-item">
          <div class="cmini-img">
            <img src="./assets/images/cmini-img.png" alt="" />
            <div class="cmini-delete">
              <i class="fas fa-times icon"></i>
            </div>
          </div>
          <div class="cmini-content">
            <h3 class="cart-name">Roger</h3>
            <p class="cart-price">180,000,000 đ</p>
            <div class="cmini-color" style="background-color: #d0cbcd"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="cmini-button">
      <a href="" class="button button-nor button-full">
        <p class="button-text">Vào trang giỏ hàng</p>
      </a>
    </div>
  </div>
</div>
<!-- End cart mini -->

<div class="popup open">
  <div class="popup-overlay"></div>
  <div class="popup-main">
    <div class="popup-main-wrapper">
      <div class="popup-over">
        <div class="popup-wrapper">
          <!-- Content hear -->
        </div>
      </div>
    </div>
    <div class="popup-close">
      <i class="fas fa-times icon"></i>
    </div>
  </div>
</div>
<div class="header-burger">
  <div class="hamburger" id="hamburger">
    <label for="menu_checkbox" class="hamburger-label">
      <div class="hamburger-text"></div>
    </label>
  </div>
</div>
<div class="dateTime" data-type="single">
  <div class="dateTimeItem">
    <input type="text" class="dateTimeInput" />
    <div class="dateTimeText">Date travel</div>
  </div>
  <img src="./assets/images/icon-calenda.svg" alt="" />
</div>

<!-- Start Card layout -->
<div class="card-layout">
  <div class="row">
    <!-- add item  -->
    <div class="card-item col">
      <div class="card-wrapper">
        <div class="card-head">
          <a href="" class="card-img"> <img src="" alt="" /></a>
        </div>
        <div class="card-body">
          <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
          <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
          <div class="price">
            <span class="price-img">
              <img src="./assets/images/dollar.png" alt="" />
            </span>
            <span class="price-text">10.200.000 VND</span>
          </div>
          <div class="btn-second full-w">
            <div class="btn-wrapper bg-custom">
              <a class="btn-text">Xem chi tiết</a>
            </div>
            <div class="btn-icon">
              <i class="ti-arrow-top-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!-- End card layout -->

<!-- Start card item -->
<div class="card-item">
  <div class="card-head">
    <a href="" class="card-img"> <img src="" alt="" /></a>
  </div>
  <div class="card-body">
    <a class="title"> Bộ bàn BN97-69B Ghế MRL96 </a>
    <span class="color">Bộ bàn BN97-69B Ghế MRL96</span>
    <div class="price">
      <span class="price-img">
        <img src="./assets/images/dollar.png" alt="" />
      </span>
      <span class="price-text">10.200.000 VND</span>
    </div>
    <div class="btn-second full-w">
      <div class="btn-wrapper bg-custom">
        <a class="btn-text">Xem chi tiết</a>
      </div>
      <div class="btn-icon">
        <i class="ti-arrow-top-right"></i>
      </div>
    </div>
  </div>
</div>
<!-- end card item -->

<!-- start body card text -->
<div class="body-card-text">
  <a href="" class="title">Nguyên tắc thiết kế giúp ngôi nhà không bị lỗi thời</a>
  <p class="ph">Lorem ipsum dolor sit amet consectetur. Gravida nunc nulla enim morbi sapien.</p>
  <div class="btn-card-text">
    <a href="" class="btn-card-link">Xem chi tiết</a>
    <a href="" class="btn-icon">
      <i class="ti-arrow-right"></i>
    </a>
  </div>
</div>
<!-- end body card text -->

<!-- start pagination layout -->
<div class="pagination-layout">
  <ul class="pagination-list">
    <li class="pagination-item">
      <a href="" class="pagination-link">
        <span>01</span>
      </a>
    </li>
    <li class="pagination-item">
      <a href="" class="pagination-link">
        <span>03</span>
      </a>
    </li>
    <li class="pagination-item">
      <a href="" class="pagination-link">
        <span>03</span>
      </a>
    </li>
    <li class="pagination-item">
      <a href="" class="pagination-link">
        <span>
          <i class="ti-angle-right"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
<!-- end pagination layout -->

<!-- start line custom -->
<div class="custom-line">
  <div class="line-item"></div>
</div>
<!-- end custom line -->

<!-- start custom banner -->
<section class="custom-banner">
  <div class="custom-banner-main">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner-wrapper">
            <div class="banner-img">
              <img src="./assets/images/prod-bner-3.png" alt="" />
            </div>
            <div class="container">
              <div class="mini-content">
                <h1 class="mini-title">Tin tức mới nhất</h1>
                <div class="mini-content-img">
                  <img src="./assets/images/diamond-svg-bg.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner-wrapper">
            <div class="banner-img">
              <img src="./assets/images/prod-bner-3.png" alt="" />
            </div>
            <div class="container">
              <div class="mini-content">
                <h1 class="mini-title">Tin tức mới nhất</h1>
                <div class="mini-content-img">
                  <img src="./assets/images/diamond-svg-bg.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- end custom banner -->

<!-- start search cs -->
<form class="search-cs">
  <input type="text" placeholder="Tìm kiếm sản phẩm" />
  <span class="search-icon">
    <img src="./assets/images/search-svg.svg" alt="" />
  </span>
</form>
<!-- end search cs -->
