<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <!-- Cấu trúc html menu -->
      <div class="container">
        <div class="header-wrapper">
          <div class="header-menu">
            <a class="menu-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="7"
                viewBox="0 0 20 7"
                fill="none"
              >
                <line y1="0.5" x2="20" y2="0.5" stroke="url(#paint0_linear_374_967)" />
                <line y1="6.5" x2="20" y2="6.5" stroke="url(#paint1_linear_374_967)" />
                <defs>
                  <linearGradient
                    id="paint0_linear_374_967"
                    x1="1.4"
                    y1="0.98"
                    x2="1.48576"
                    y2="2.90952"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#E4B06D" />
                    <stop offset="1" stop-color="#F7E47F" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_374_967"
                    x1="1.4"
                    y1="6.98"
                    x2="1.48576"
                    y2="8.90952"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#E4B06D" />
                    <stop offset="1" stop-color="#F7E47F" />
                  </linearGradient>
                </defs>
              </svg>
            </a>
          </div>
          <div class="header-logo">
            <a href="" alt="logo" class="logo-link">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>

          <div class="lang">
            <div class="lang-head lang-item">
              <img src="./assets/images/flag-vn.png" alt="" />
              <span class="text"> VN </span>
            </div>
            <div class="lang-list">
              <a href="" class="lang-item active">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> EN </span>
              </a>
              <a href="" class="lang-item">
                <img src="./assets/images/flag-vn.png" alt="" />
                <span class="lang-link"> VN </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container"></div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-bg">
        <img src="./assets/images/footer-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-top row">
            <div class="footer-left col">
              <div class="footer-logo">
                <img src="./assets/images/footer-logo.png" alt="" />
              </div>
              <div class="footer-sologan">
                <p class="footer-text">“Hãy để chúng tôi đồng hành cùng bạn”</p>
              </div>
              <div class="footer-social">
                <ul class="social-list">
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/fb-svg.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/instagram-2.svg" alt="" />
                    </a>
                  </li>
                  <li class="social-item">
                    <a href="" class="social-item-link">
                      <img src="./assets/images/link-svg.svg" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-right col">
              <div class="footer-email">
                <div class="title">
                  <span class="title-text">Đăng ký nhận tin</span>
                </div>
                <div class="footer-input">
                  <div class="footer-input-icon">
                    <img src="./assets/images/email-svg.png" alt="" />
                  </div>
                  <input type="text" placeholder="Nhập E-mail của bạn" />
                </div>
              </div>
              <div class="footer-link row">
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Sản phẩm của chúng tôi</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list row">
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Bàn</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer-item col">
                  <div class="title">
                    <span class="title-text">Liên kết nhanh</span>
                  </div>
                  <div class="footer-list">
                    <ul class="footer-nav-list row">
                      <li class="footer-nav-link col">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Trang chủ</a>
                      </li>
                      <li class="footer-nav-link col">
                        <a href="">Trang chủ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <img src="./assets/images/mona-logo.png" alt="" />
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
