.swiper-slide {
    height: initial;
    overflow: hidden;
}

.swiper-pagination {
    position: static;
    margin-top: 1.6rem;

    &-bullet {
        --circle: -0.4rem;
        background-color: $color-pri;
        opacity: 1;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: var(--circle);
            right: var(--circle);
            bottom: var(--circle);
            left: var(--circle);
            border: 1px solid $color-pri;
            border-radius: 100rem;
            opacity: 0;
            transition: 0.1s ease-in-out;
        }

        &-active {
            background-color: $color-pri;

            &::before {
                opacity: 1;
            }
        }
    }
}

.swiper-control {
    &-btn {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        background-color: white;
        @include mid-flex;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        @include transitionRe;
        @include posi-vertical;
        z-index: 5;

        &.swiper-button-disabled {
            background-color: #dddddd;
            cursor: default;
            box-shadow: none;
        }

        @include min($res-mobile-min) {
            &:hover(:not(.swiper-button-disabled)) {
                background-color: $color-pri;

                i {
                    color: white;
                }
            }
        }

        i {
            color: $color-text;
            font-size: 1.6rem;
            font-weight: 400;
            @include transitionRe;
        }
    }

    &.posi {
        .swiper-control-btn {
            @include posi-vertical;
        }

        &.minus {
            .swiper-prev {
                right: calc(100% + 4rem);
            }

            .swiper-next {
                left: calc(100% + 4rem);
            }
        }

        &.midle {
            .swiper-prev {
                left: -2.1rem;
            }

            .swiper-next {
                right: -2.1rem;
            }
        }

        &.plus {
            .swiper-prev {
                left: 1rem;
            }

            .swiper-next {
                right: 1rem;
            }
        }
    }
}

.swiper-pagination-progressbar {
    background: $color-border-01;
    height: .1rem !important;
}

.swiper-pagination-progressbar-fill {
    background-color: $color-second !important;
}