.pagination-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;

  .pagination-list {
    display: flex;
    align-items: center;

    .pagination-item {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background: #a46e2933;
      color: $color-text;
      margin-right: 1rem;

      &:hover {
        .pagination-link {
          &::after {
            width: 100%;
          }

          span {
            color: $color-white;

            i {
              color: $color-white;
            }
          }
        }
      }

      .pagination-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 3;
          font-family: 'Beautique Display', sans-serif;

          i {
            color: $color-text;
          }
        }

        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: $color-pri;
          border-radius: 50%;
          transition: all 0.2s linear;
        }
      }
    }
  }
}
